<style>
    p{
        margin-top: 5;
    }
    .first {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 20px;
        font-weight: bold;
    }

    .secondfirst{
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 20px;
        margin-bottom: 5px;
    }

    .secondsecond{
        font-size: 20px;
        font-style: italic;
        color: red;
        margin-top: 0;
    }

    .thirdfirst{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 5px;
    }
    .thirdsecond{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 15px;
        color: grey;
        margin-top: 0;
    }
    .thirdthird{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        width: 300px;
    }
    .button{
        border: none;
        background-color: green;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 8px;
        color: white;
        font-size: 20px;
    }
    .fourthfirst{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 25px;
        font-weight: bold;
    }
    .fourthsecond{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
        font-weight: bold;
        text-align: center;
    }
    .container{
        text-align: center;
        margin-top: 50px;
    }
    .fourththird{
        color: rgb(17, 162, 224);
    }
</style>
